<app-top-bar 
  [title]="quiz?.title || 'Aucun titre fourni'"
  [showBackButton]="true"
  [showProfileButton]="true">
</app-top-bar>

<ion-content class="ion-padding">

  <div class="quiz-header">
    <h1>{{ quiz?.title }}</h1>
    <p class="quiz-description">
      {{ quiz?.description || 'Aucune description fournie.' }}
    </p>

    <div class="quiz-meta">
      <ion-icon name="help-circle-outline"></ion-icon>
      <span>{{ quiz?.questions?.length || 0 }} questions</span>
    </div>
  </div>

 
  @if(quiz?.questions?.length === 0){
    <div class="empty-state">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>Aucune question dans ce quiz</p>
    </div>
  }

    @for (question of quiz?.questions ?? []; track question.id; let i = $index)
    {

   <ion-card class="question-card">
    <ion-card-content>
      <h2>Question {{ i + 1 }}</h2>
      <p class="question-text">{{ question.text }}</p>

      <ul class="choices-list">
        @for (choice of question.choices; track choice.id) {
          <li>{{ choice.text }}</li>
        }
      </ul>
    </ion-card-content>
  </ion-card>

    }

 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button
      size="small"
      color="primary"
      aria-label="Modifier le quiz"
      (click)="openEditModal()"
      [disabled]="!quiz"
    >
      <ion-icon name="edit"></ion-icon>
    </ion-fab-button>
  <ion-fab-button
    color="success"
    aria-label="Lancer le jeu"
    (click)="playGame()"
    [disabled]="!quiz?.questions?.length"
  >
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
