<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="go-back-to-first-page" (click)="goBack()">Kahoot</ion-button>
    </ion-buttons>
    <ion-title>Informations du compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Email</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text>{{userEmail}}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
