<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (showBackButton) {
        <ion-back-button defaultHref="/home"></ion-back-button>
      }
    </ion-buttons>

    <ion-buttons slot="end">
      @if (showProfileButton) {
        @if(isLogged()) {
          <ion-button [id]="profileButtonId" slot="end">
            <ion-avatar>
              <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-button>

          <ion-popover 
            [trigger]="profileButtonId" 
            triggerAction="click" 
            [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item button (click)="goToAccountInfos()">Profil</ion-item>
                  <ion-item button (click)="signOut()">Se déconnecter</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        } @else {
          <ion-button fill="solid" (click)="goToRegisterPage()">
            Se connecter
          </ion-button>
        }
      }

    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>